@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
